<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/styles.css">
  <title>Mushroom Recognizer</title>
  <link rel="icon" type="image/png" href="https://p1.hiclipart.com/preview/107/325/232/super-mario-icons-mario-red-mushroom.jpg" />
</head>

<body>

  <h1>Mushroom Recognizer</h1>
  <div class="button">Upload Image</div>

  <!---<p>This is a paragraph.</p>---->

  <!--<img src="../static/css/autumn-background.jpg" width="300" height="300">-->

</body>

</html>