@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body{
  background-image: url("./autumn-background.jpg"); 
  background-color: #cccccc;
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  font-size: 20px;
  font-family: Oswald;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

h1 {
  color:rgb(228, 209, 180);
  position: absolute;
  top:100px;
  font-size: -webkit-xxx-large;
}

a {
  border-radius: 10px;
  background-color: rgba(117, 185, 68, 0.452);
  color: white;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;  
  padding: 10px 20px; 
  font-size: 0.8em; 
  position: static;
}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  border-radius: 10px;
  background-color: rgba(117, 185, 68, 0.452);
  color: white;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;  
  padding: 10px 20px; 
  font-size: 0.8em; 
  position: static;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgba(116,185,68,1);
}

.inputfile + label {
  cursor: pointer; 
}

.inputfile:focus + label {
	outline: none;
}
